
<div class="text-center"> 
  <form>
    <input class="form-control" [formControl]="label" type="text"> 
  </form>
  <button (click)="onAdd($event)"  
      class="btn btn-success"> 
      ADD 
  </button> 
</div> 


    <div class="text-center"> 
      <input class="form-control" type="file" 
              (change)="onChange($event)"> 
    
      <button (click)="onDisplay()"  
          class="btn btn-success"> 
          Display 
      </button> 

      
  </div> 
    
  <div>
    <button (click)="sendData()"  
          class="btn btn-success"> 
          Envoyer 
      </button> 
  </div>
  
  
  <!--Flag variable is used here-->
  <div class="container" *ngIf="Labels.length !=0"> 
    <h5>Label's List: </h5> 
     [ <span *ngFor="let label of Labels; index as i">
          <span class="labels" [style.background-color]="colors[i]" (click)="labelClicked(colors[i], label)">{{label}} </span> 
       </span>]
  
  </div> 

  <!--Flag variable is used here-->
  <div #textContainer class="container" *ngIf="loading" (mouseup)="highlightSelectedText(textContainer)"> 
      {{fileOutput}} 
  </div> 
    
  



<router-outlet />
